In [9]:
import pandas as pd
import pickle as pkl

In [4]:
with open(r'C:\Users\tobi1\OneDrive\S2_Uni_Mannheim\Team_Project_BitcoinFlorensics\Git_code_teamp\UM_Cryptocurrency_Forensics\WalletClustering\output\flowGraph_Center.pickle', 'rb') as f:
    flowGraph_Center = pkl.load(f)

with open(r'C:\Users\tobi1\OneDrive\S2_Uni_Mannheim\Team_Project_BitcoinFlorensics\Git_code_teamp\UM_Cryptocurrency_Forensics\WalletClustering\output\flowGraph_Input.pickle', 'rb') as f:
    flowGraph_Input = pkl.load(f)

with open(r'C:\Users\tobi1\OneDrive\S2_Uni_Mannheim\Team_Project_BitcoinFlorensics\Git_code_teamp\UM_Cryptocurrency_Forensics\WalletClustering\output\flowGraph_Output.pickle', 'rb') as f:
    flowGraph_Output = pkl.load(f)

In [5]:
flowGraph_Center

'yYiOdGN2a2TGR8GBwrMtk1CkMAFUcaan'

In [6]:
flowGraph_Input

['6LjxlCvzxnVaAMo3QuvCyAuyG3fyCyHD',
 'FMKb71RPmguLvGGijceGfTeZJWIyYdFI',
 'yYiOdGN2a2TGR8GBwrMtk1CkMAFUcaan',
 'ze3ws3ckYylbZwpXj6xNRXSBeRkenIzY']

In [7]:
flowGraph_Output

['yYiOdGN2a2TGR8GBwrMtk1CkMAFUcaan', 'ze3ws3ckYylbZwpXj6xNRXSBeRkenIzY']

In [22]:
list_a = ['test1', 'test2', 'test3']
list_b = ['test1_2', 'test2_2', 'test3_2']

list_of_rows = []
for i in range(len(list_a)):
    row = {}

    row['Account']=list_a[i]
    row['Amount']=list_b[i]

    list_of_rows.append(row)

pd.DataFrame(list_of_rows)

  Account   Amount
0   test1  test1_2
1   test2  test2_2
2   test3  test3_2

  Account Amount
0    test   test
1    test   test
2    test   test
3    test   test
4    test   test
5    test   test
6    test   test
7    test   test
8    test   test
9    test   test